body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-list li {
  margin: 0 30px; /* Increased margin for more space */
}

.nav-list li a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  font-size: 1.2em; /* Increased font size */
  font-weight: bold; /* Made the text bold */
}

.nav-list li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.header {
  position: relative;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 60px; /* Adjust for navbar height */
  transition: background-image 1.5s ease-in-out;
  background-image: url("/TravelWebsite/images/photo-1539635278303-d4002c07eae3.avif"); /* Initial background image */
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo img {
  width: auto; /* Adjust the width as needed */
  height: auto;
}

.header-content {
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 20px;
  border-radius: 10px;
}

.header h1 {
  font-size: 4em;
  margin: 0;
}

.header p {
  font-size: 3em;
  margin: 20px 0;
}

.header img {
  width: 200px;
  height: 200px;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

.btn span {
  margin-left: 10px;
}

.btn:hover {
  background-color: #45a049;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
}

.scroll-down p {
  font-size: 1.2em;
  margin: 0;
}

.arrow {
  animation: moveUpDown 1s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(5);
  }
  100% {
    transform: translateY(-5px);
  }
}

.floating-icons {
  margin-top: 50px; /* Add margin to space it below the button */
  display: flex;
  justify-content: center;
  gap: 10px;
}

.floating-icons a {
  display: block;
  width: 50px;
  height: 50px;
}

.floating-icons img {
  width: 65%;
  height: 65%;
  object-fit: cover;
}

.container {
  background-size: cover;
  background-position: top;
  background-image: url("/TravelWebsite/images/Web_Photo_Editor.jpg");
}

.main-section {
  position: relative;
  width: 100%;
  height: auto;
  /* background-size: cover;
  background-position: top; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  padding-top: 40px;
  /* transition: background-image 1.5s ease-in-out; */
  /* background-image: url("/TravelWebsite/Images/Web_Photo_Editor.jpg"); Initial background image */
}

.main-section-contents {
  width: 60%;
}

.main-section h1 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.696);
}

.main-section h2 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.348);
}

.image-section {
  position: relative;
  width: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px;
  scale: 0.7;
}

.image-section img:hover {
  scale: 0.75;
  transition: all 0.5s ease-in-out;
}

.map_lines {
  width: auto;
  height: auto;
}

.stack-image-main {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 800px;
  /* gap: 20px; Adjust as necessary to evenly space the items */
}

.stacked-image-container {
  position: relative;
  width: 250px;
  height: 350px;
}

.stacked-image {
  position: absolute;
  width: 100%;
  height: auto;
  transition: transform 0.5s ease, z-index 0.5s, box-shadow 0.5s ease,
    opacity 0.5s ease;
  cursor: pointer;
  opacity: 0.9; /* Initial opacity for a slightly faded effect */
}

.stacked-image-container img {
  border-radius: 10px;
}

.stacked-image:hover {
  transform: scale(1.2);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); /* Add a shadow effect */
  opacity: 1; /* Make the image fully opaque */
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #555;
  font-size: 14px;
}

.input-area,
textarea {
  width: 50%;
  padding: 10px 12px;
  margin-bottom: 20px;
  border: 1.8px solid #bbb;
  border-radius: 6px;
  font-size: 15px;
  transition: border-color 0.3s ease;
  font-family: inherit;
  resize: vertical;
}
.input-area:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
textarea {
  min-height: 80px;
  font-family: inherit;
}
